<h1>Editing post</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Post title" %>
  <%= f.text_field :body, placeholder: "Message to post" %>
  <%= f.submit %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Index', posts_path %>
